body {
  font-family: "Times New Roman";
  font-size: 15px;
  background-image: url(images/bgmain.png);
  background-color: #f7f6f6;
  background-repeat: repeat-x;
  color: #474747; 
}

a:link, a:visited {
	text-decoration: none;
	color: #00537d;

}
a:hover {
	text-decoration: underline;
}

hr {
	border: 1px solid #ddd;
	}

h1 {
	font-size: 24px;
	font-weight: 650;
	margin-bottom: 10px;
}

li {
	margin: 0 0 0 7px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 116px;
	border: none;
}

.logo { 
	float:left;
	height: 114px;
	width: 260px;
	display:block;
	background-image: url(images/logo.png);	
}
.logo:hover {
	height: 115px;
	width: 260px;
	display:block;
	background-image: url(images/lhover.png);	
}

.vkontakte { 
	float:right;
	height: 55px;
	width: 55px;
	display:block;
	background-image: url(images/vkontakte.png);	
}

.vkontakte:hover {
	height: 55px;
	width: 55px;
	display:block;
	background-image: url(images/vhover.png);	
}

.twitter { 
	float:right;
	height: 55px;
	width: 55px;
	display:block;
	background-image: url(images/twitter.png);	
}

.twitter:hover {
	height: 55px;
	width: 55px;
	display:block;
	background-image: url(images/thover.png);	
}
.info { 
	float:right;
	height: 50px;
	width: 50px;
	display:block;
	background-image: url(images/info.png);	
}

.info:hover {
	height: 50px;
	width: 50px;
	display:block;
	background-image: url(images/ihover.png);	
}

/* Middle
-----------------------------------------------------------------------------*/

#content {
	padding: 0px 0px 10px 10px;
	border: none;	
}

/* Sidebar Left
-----------------------------------------------------------------------------*/

#sideLeft {
	border: none;
}

.sidemenu {
	padding: 10px 10px 10px 20px;
	border:1px solid #d3d2d2;	
	background-image: url(images/side.png);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 15px;
}

.spun {
	padding: 5px 5px 5px 10px;
	border:1px solid #ccc;	
	background-image: url(images/spun.png);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 3px;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	border:none;
	margin-top: 50px;		
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  	.background-image: url(images/footer.png);
  	background-color: #050505;
	color: #fff;
	.border-top: 1px solid #373737;
}
.fright a:link, .fright a:visited {
	color: #85b1c7;
}

/* Images
-----------------------------------------------------------------------------*/
.thumbnail .r, .thumbnail .radmin{		
	border:1px solid #d3d2d2;	
	background-image: url(images/side.png);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 1em 1em 0 1em;
}

/* Input
-----------------------------------------------------------------------------*/
input, textarea, select {
	background: #fff;
	border:1px solid #d3d2d2;	
   	color: #686868;
	padding: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

select {
	font-family: Tahoma;
	font-size: 14px;
}
input[type = "checkbox"] 
{
	padding: 6px;
	font-size: 24px;	
}
input[type = "file"] 
{
	max-width: 700px;
	min-width: 350px;
}

input[type = "submit"],input[type = "reset"]  {
    background: url(images/input.gif) repeat-x bottom #fefefe;
    padding: 4px;
	font-family: Tahoma;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Other
-----------------------------------------------------------------------------*/
.text {
	border:none;	
}
.thumbnail .r:hover, .admblock:hover{	
	background-image: url(images/thumb.png);
}
.menu {
	margin-bottom: 5px;
}

.highslide-gallery {
	margin-top: 10px;
}

.comm  a:link, .comm  a:visited {'
	padding: 6px;
}
.comm {
		border-top:1px dotted #a1afaf;	
}

.commet {
		padding: 15px 0 0 0;
		width: 100%;
		height: 150px;
}


.textar {
	border:1px solid #e1dfdf;	
	padding: 5px 2px 2px 0px;
	width: 724px;
	background-color: #eaeaea;
}

.com {
	padding: 5px 5px 5px 5px;
	border-top: 1px dotted #777;
	margin: 10px 4px 4px 4px;

}


.selection {
	background: #ececd7;
	padding: 10px 10px 10px 15px;
}

.admblock {
	border:1px solid #d3d2d2;	
	background-image: url(images/side.png);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	float: left;
	width: 10em;/* «адаем минимальную ширину по тексту */
	height: 10em;
	padding: 5px 0 5px 0;
}

.thumbnailer {
	text-decoration: none;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	text-align: left;		
	margin: 0em 0 2em 2em;
}

.mainthumber {
	margin: 1em 4em 0 0;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}